.git-contributor
    display table
    width 100%
    padding rem(40px) 0
    margin rem(40px) 0
    +above(cut)
        padding rem(50px) 0
    .name
        mainFont()
            color black
        font-size rem(30px)
    .email
        a
            max-width 50rem
            display block
            margin-right auto
            margin-left auto
            padding-left 0
            padding-right 0
            padding 0 1.25rem
            margin 0 auto 1.875rem
            font-weight 300
            font-style normal
            letter-spacing .01rem
            margin-top rem(30px)
